<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.es.uremote"
    android:versionCode="1"
    android:versionName="0.1" >

    <uses-sdk android:minSdkVersion="15" />

    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.BLUETOOTH" />

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".Home"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Holo" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AppSettings"
            android:label="@string/title_preferences" />
        <activity
            android:name=".Computer"
            android:label="@string/title_computer" />
        <activity
            android:name=".computer.AppLauncher"
            android:label="@string/title_application_launcher"
            android:theme="@android:style/Theme.Dialog" />
        <activity
            android:name=".Lights"
            android:label="@string/title_lights" />
        <activity
            android:name=".RobotControl"
            android:label="@string/title_robots" />
        <activity
            android:name=".TvDialer"
            android:label="@string/title_tv" />
    </application>

</manifest>